@import 'locomotive-scroll/dist/locomotive-scroll.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F5F5F5;
  --color: #171717;
}

::selection {
  background: black;
  color: white;  /* text color when highlighted */
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000000 rgba(0, 0, 0, 0);
}
